* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('beeee.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

img {
    max-width: 70%;
    max-height: 70%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

input{
    border: none;
    padding: 1.1rem 1.5rem;
    background: rgb(151, 145, 56);
    font-weight: bold;
}

input:hover{
    cursor: pointer;
    background: rgb(175, 167, 47);
    border: 0.2rem solid black;
}

.settings{
position: absolute;
top: 0;
left: 0;
margin-left: 40px;
margin-top: 30px;
}


.settings:hover{
cursor: pointer;

}